.openapi-demo__code-block-word-wrap-btn-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.openapi-demo__code-block-word-wrap-btn--enabled {
  .openapi-demo__code-block-word-wrap-btn-icon {
    color: var(--ifm-color-primary);
  }
}
