.executeButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
  line-height: 1.5;

  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    calc(
      var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier)
    );

  text-align: center;

  transition: color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    background var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    border-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1);
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;

  background: #0f62fe;
  color: var(--ifm-color-gray-100);
  border: 0px solid transparent;
  border-radius: var(--ifm-pre-border-radius);
  height: 48px;
  margin-bottom: var(--ifm-spacing-vertical);

  display: block;
  width: 100%;
}

.executeButton:hover {
  background-color: #0353e9;
}

.executeButton:focus {
  outline: 0;
}

.executeButton:active {
  background-color: #054ada;
}

.executeButton:disabled {
  background-color: var(--button-dissabled);
  color: #8d8d8d;
  opacity: 0.65;
  pointer-events: none;
}
