.openapi-schema__list-item {
  list-style: none;
  position: relative;
  margin: 0 !important;
  padding: 5px 0 5px 1rem;
  border-left: thin solid var(--openapi-tree-line-color) !important;

  // Horizontal line styling for schema properties
  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 0.7rem;
    /* width of horizontal line */
    height: 0.5rem;
    /* vertical position of line */
    vertical-align: top;
    border-bottom: thin solid var(--openapi-tree-line-color);
    content: "";
    display: inline-block;
  }
}

.openapi-schema__list-item:hover {
  background-color: var(--ifm-menu-color-background-active);
}

.openapi-schema__list-item:focus {
  background-color: var(--ifm-menu-color-background-active);
}

.openapi-schema__name {
  opacity: 0.6;
}

.openapi-schema__required {
  font-size: var(--ifm-code-font-size);
  color: var(--openapi-required);
}

.openapi-schema__deprecated {
  font-size: var(--ifm-code-font-size);
  color: var(--openapi-deprecated);
}

.openapi-schema__nullable {
  font-size: var(--ifm-code-font-size);
  color: var(--openapi-nullable);
}

.openapi-schema__strikethrough {
  text-decoration: line-through;
}
