{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Object Storage",
    "version": "1.0.0"
  },
  "paths": {
    "/": {
      "get": {
        "tags": [ "Bucket operations" ],
        "summary": "List buckets",
        "description": "A `GET` request sent to the endpoint root returns a list of buckets that are associated with the specified service instance. For more information about endpoints, see [Endpoints and storage locations](https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-endpoints#endpoints).",
        "parameters": [
          {
            "in": "query",
            "name": "extended",
            "description": "Provides `LocationConstraint` metadata in the listing.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "allowEmptyValue": true
          },
          {
            "in": "header",
            "name": "ibm-service-instance-id",
            "description": "List buckets that were created in this service instance.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/identity/token": {
      "post": {
        "tags": [ "Authentication" ],
        "summary": "Generating an IAM token",
        "description": "Generate an IBM Cloud® Identity and Access Management (IAM) token by using either your [IAM API key](https://cloud.ibm.com/docs/iam?topic=iam-userapikey#userapikey) or a [service ID's API key](https://cloud.ibm.com/docs/iam?topic=iam-serviceidapikeys#serviceidapikeys). IBM Cloud APIs can be accessed only by users who are authorized by an assigned IAM role. Each user who is calling the API must pass credentials for the API to authenticate.\n\nYou can generate an IAM token by using either your IBM Cloud API key or a service ID's API key. The API key is a permanent credential that can be reused if you don't lose the API key value or delete the API key in the account. This process is also used if you are developing an application that needs to work with other IBM Cloud services. You must use a service ID API key to get an access token to be passed to each of the IBM Cloud services.\n<div class=\"admonition admonition-note alert alert--secondary\"><div class=\"admonition-heading\"><h5><span class=\"admonition-icon\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"16\" viewBox=\"0 0 12 16\"><path fill-rule=\"evenodd\" d=\"M6.5 0C3.48 0 1 2.19 1 5c0 .92.55 2.25 1 3 1.34 2.25 1.78 2.78 2 4v1h5v-1c.22-1.22.66-1.75 2-4 .45-.75 1-2.08 1-3 0-2.81-2.48-5-5.5-5zm3.64 7.48c-.25.44-.47.8-.67 1.11-.86 1.41-1.25 2.06-1.45 3.23-.02.05-.02.11-.02.17H5c0-.06 0-.13-.02-.17-.2-1.17-.59-1.83-1.45-3.23-.2-.31-.42-.67-.67-1.11C2.44 6.78 2 5.65 2 5c0-2.2 2.02-4 4.5-4 1.22 0 2.36.42 3.22 1.19C10.55 2.94 11 3.94 11 5c0 .66-.44 1.78-.86 2.48zM4 14h5c-.23 1.14-1.3 2-2.5 2s-2.27-.86-2.5-2z\"></path></svg></span>NOTE</h5></div><div class=\"admonition-content\"><p>An access token is a temporary credential that expires after 1 hour. After the acquired token expires, you must generate a new token to continue calling IBM Cloud or service APIs, and you can perform only actions that are allowed by your level of assigned access within all accounts.</p></div></div>",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": ["urn:ibm:params:oauth:grant-type:apikey"]
                  },
                  "apikey": {
                    "type": "string"
                  }
                },
                "required": [
                  "grant_type",
                  "apikey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": []
      },
      "servers": [
        { "url": "https://iam.cloud.ibm.com" }
      ]
    }
  },
  "component": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    { "BearerAuth": [] }
  ],
  "tags": [
    { "name": "Authentication" },
    { "name": "Bucket operations" },
    { "name": "Object operations" }
  ],
  "servers": [
    { 
      "url": "https://s3.{region}.cloud-object-storage.appdomain.cloud",
      "variables": {
        "region": {
          "enum": [
            "us",
            "eu",
            "ap",
            "us-south",
            "us-east",
            "eu-gb",
            "eu-de",
            "au-syd",
            "jp-tok",
            "ams03",
            "che01",
            "hkg02",
            "mex01",
            "mil01",
            "mon01",
            "osl01",
            "par01",
            "sjc04",
            "sao01",
            "seo01",
            "sng01",
            "tor01"
          ],
          "default": "us"
        }
      }
    }
  ]
}