/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  /* Primary Colors */
  --ifm-background-color: #ffffff;
  --ifm-color-primary: #00c0e8;
  --ifm-color-primary-dark: #00add1;
  --ifm-color-primary-darker: #00a3c5;
  --ifm-color-primary-darkest: #0086a2;
  --ifm-color-primary-light: #00d3ff;
  --ifm-color-primary-lighter: #0cd5ff;
  --ifm-color-primary-lightest: #2fdbff;
  /* Status Colors */
  --ifm-color-info: #00c0e8;
  --ifm-color-success: #00cc66;
  --ifm-color-warning: #ffcb06;
  --ifm-color-danger: #fa582d;
  /* Secondary Colors */
  --ifm-color-secondary: #768ba1;
  --ifm-color-secondary-dark: #667d95;
  --ifm-color-secondary-darker: #61768d;
  --ifm-color-secondary-darkest: #4f6174;
  --ifm-color-secondary-light: #8799ac;
  --ifm-color-secondary-lighter: #8fa0b2;
  --ifm-color-secondary-lightest: #a8b5c3;
  --ifm-navbar-search-input-color: var(--ifm-color-gray-900);
  --ifm-font-size-base: 95%;
  --ifm-code-font-size: 90%;
  --ifm-font-family-base: "Montserrat", sans-serif, "Font Awesome 5 Free";
  --ifm-font-family-monospace: "Roboto Mono", monospace;
  --ifm-hero-color: #daf0f6;
  --ifm-color-gray-switch: var(--ifm-color-gray-100);
  /* Tables */
  /* --ifm-table-stripe-background: var(--ifm-background-color); */
  --ifm-table-border-width: 1px;

  --ifm-blockquote-background-color: var(--ifm-background-color);
  --ifm-version-background: #ffffff;

  --ifm-table-stripe-background: var(--ifm-table-background);
  --openapi-input-background: rgba(110, 118, 129, 0.4) !important;
  --openapi-monaco-border-color: #21262d !important;
  --openapi-monaco-background-color-dark: #0d1117 !important;
  --openapi-code-green: var(--ifm-color-success) !important;
  --openapi-code-blue: var(--ifm-color-primary) !important;
  --openapi-code-red: var(--ifm-color-danger) !important;
  --openapi-code-orange: var(--ifm-color-warning) !important;
}

/* Dark mode overrides */
html[data-theme="dark"] {
  --ifm-color-emphasis-100: var(--ifm-color-gray-900);
  --ifm-color-emphasis-200: var(--ifm-color-gray-800);
  --ifm-color-emphasis-300: var(--ifm-color-gray-700);
  --ifm-color-emphasis-400: var(--ifm-color-gray-600);
  --ifm-color-emphasis-500: var(--ifm-color-gray-500);
  --ifm-color-emphasis-600: var(--ifm-color-gray-400);
  --ifm-color-emphasis-700: var(--ifm-color-gray-300);
  --ifm-color-emphasis-800: var(--ifm-color-gray-200);
  --ifm-color-emphasis-900: var(--ifm-color-gray-100);

  --ifm-background-color: #121212;
  --ifm-background-surface-color: #1e2125;

  --ifm-color-content-secondary: rgba(255, 255, 255, 1);

  --ifm-heading-color: #ffffff !important;

  /* Mardown color in dark mode */
  --ifm-color-gray-800: var(--ifm-color-gray-300);

  --ifm-code-background: #393939 !important;

  --ifm-hero-color: var(--ifm-color-gray-600);

  --ifm-color-gray-switch: var(--ifm-color-gray-300);

  --ifm-blockquote-background-color: var(--ifm-background-color);

  --ifm-version-background: var(--ifm-background-color);

  --openapi-input-background: rgba(110, 118, 129, 0.4) !important;
}

.footer--dark {
  --ifm-footer-background-color: var(--ifm-color-gray-600);
  color: white;
}

.footer--dark a {
  color: white;
}

.footer--dark a:hover {
  color: white;
}

/* Tables */

/* .markdown table {
  table-layout: fixed;
  width: 100%;
} */

/* .markdown tr {
  border-bottom: 1px solid var(--ifm-color-secondary) !important;
} */

/* .markdown td {
  width: 25%;
}

.markdown th {
  text-align: left;
} */

/* Center all columns in main wrapper */
.main-wrapper {
  max-width: 1400px;
  width: 1400px;
  align-self: center;
}

.main-wrapper h1[class^="docTitle"] {
  font-size: 2.8rem;
}

@media (max-width: 1416px) {
  .main-wrapper {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1320px) and (min-width: 997px) {
  .container {
    max-width: calc(
      var(--ifm-container-width) - 125px - var(--ifm-spacing-horizontal) * 2
    );
  }
}

/* Center navbar items */
.navbar__inner {
  max-width: 1360px;
  margin: 0 auto;
}

/* Force homepage to full width */
.homepage {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #303846;
}

.navbar__link:hover {
  color: rgb(245, 246, 247, 0.7);
}

.navbar__link--active {
  color: unset;
}

.navbar__brand:hover {
  color: rgb(245, 246, 247, 0.7);
}

.navbar {
  padding-right: 28px;
}

.theme-api-markdown > table {
  font-size: 90%;
}

/* .theme-api-markdown table {
  --ifm-code-background: #161b22;
  --ifm-table-border-color: #21262d;
} */

.theme-api-markdown td {
  background-color: var(--ifm-alert-background-color);
}

.theme-api-markdown table table {
  width: calc(100% - 16px) !important;
  margin-left: 16px;
}

.theme-api-markdown table table {
  box-shadow: -15px 0px 0px 0px var(--ifm-background-color),
    -16px 0px 0px 0px var(--ifm-table-border-color);
}

.theme-api-markdown .alert table {
  box-shadow: -15px 0px 0px 0px var(--ifm-alert-background-color),
    -16px 0px 0px 0px var(--ifm-alert-border-color);
}

.theme-api-markdown table table tr:first-child {
  border-top: 0;
}

.theme-api-markdown table th,
.theme-api-markdown table td {
  padding: var(--ifm-table-cell-padding) 0;
}

.theme-api-markdown table thead tr {
  border-bottom-width: 3px;
  border-top: 0;
}

.theme-api-markdown table th {
  border: 0;
}

.theme-api-markdown table td {
  border: 0;
}

.button--primary:not(.button--outline) {
  --ifm-button-color: white;
  --ifm-button-background-color: #238636;
}

.button--primary {
  --ifm-button-border-color: #238636;
}

.button--primary:not(.button--outline):hover {
  --ifm-button-background-color: #2ea043;
  --ifm-button-border-color: #2ea043;
}

.button--primary:active,
.button--primary.button--active {
  --ifm-button-border-color: #238636;
  --ifm-button-background-color: #238636;
  background-color: #238636;
  border-color: #238636;
}

.button--outline {
  --ifm-button-background-color: #21262d;
  --ifm-button-border-color: rgba(240, 246, 252, 0.1);
  --ifm-button-color: #c9d1d9;
}

.button--outline:hover {
  --ifm-button-background-color: #30363d;
  --ifm-button-border-color: #8b949e;
  --ifm-button-color: #c9d1d9;
}

.button--outline:active,
.button--outline.button--active {
  --ifm-button-background-color: #282e33;
  --ifm-button-border-color: #6e7681;
  --ifm-button-color: #c9d1d9;
  background-color: #282e33;
  border-color: #6e7681;
}

.api-code-tab {
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal) !important;
  margin: 0 !important;
  border-radius: var(--openapi-card-border-radius) !important;
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier)) !important;
  border-bottom: 3px solid transparent !important;
}

.api-code-tab--active {
  background: var(--ifm-color-primary);
  /* color: white !important; */
  border-bottom: 3px solid var(--ifm-color-primary) !important;
  border-bottom-color: var(--ifm-tabs-color-active-border) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.api-code-tab--active:hover {
  background-color: var(--ifm-hover-overlay) !important;
}

.alert {
  border-width: 1px;
}

.navbar {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}

.footer--dark {
  border-top: 1px solid var(--ifm-color-emphasis-300);
  --ifm-footer-background-color: var(--ifm-background-color);
}

.hero--primary {
  --ifm-hero-background-color: #161b22;
  --ifm-hero-text-color: var(--ifm-heading-color);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.footer__logo {
  margin-top: 0;
}

/* Sidebar Method labels */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
}

.get > .menu__link::before {
  content: "get";
  border-color: var(--openapi-code-blue);
  color: var(--openapi-code-blue);
}

.put > .menu__link::before {
  content: "put";
  border-color: var(--openapi-code-orange);
  color: var(--openapi-code-orange);
}

.post > .menu__link::before {
  content: "post";
  border-color: var(--openapi-code-green);
  color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: "del";
  border-color: var(--openapi-code-red);
  color: var(--openapi-code-red);
}

.patch > .menu__link::before {
  content: "patch";
  border-color: var(--openapi-code-orange);
  color: var(--openapi-code-orange);
}

.alert--success {
  --ifm-alert-background-color: var(--ifm-color-success-contrast-background);
  --ifm-alert-background-color-highlight: rgba(0, 164, 0, 0.15);
  --ifm-alert-foreground-color: var(--ifm-color-success-contrast-foreground);
  --ifm-alert-border-color: var(--ifm-color-success-dark);
}

.prism-code {
  counter-reset: line-number;
}

.prism-code .token-line::marker {
  color: var(--ifm-color-gray-700);
  content: counter(line-number);
}

.prism-code .token-line {
  counter-increment: line-number;
  display: list-item;
  padding-left: var(--ifm-pre-padding);
  margin-left: var(--ifm-global-spacing);
}
