/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2980b9;
  --ifm-color-primary-dark: #2573a7;
  --ifm-color-primary-darker: #236d9d;
  --ifm-color-primary-darkest: #1d5a82;
  --ifm-color-primary-light: #2d8dcc;
  --ifm-color-primary-lighter: #3293d2;
  --ifm-color-primary-lightest: #4ea1d8;
  /* Status Colors */
  --ifm-color-info: #00c0e8;
  --ifm-color-success: #3cad6e;
  --ifm-color-warning: #ffcb06;
  --ifm-color-danger: #fa582d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --openapi-code-green: var(--ifm-color-success) !important;
  --openapi-code-orange: var(--ifm-color-warning) !important;
  --openapi-code-red: var(--ifm-color-danger) !important;
  --openapi-code-blue: var(--ifm-color-info) !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #3498db;
  --ifm-color-primary-dark: #258bcf;
  --ifm-color-primary-darker: #2383c4;
  --ifm-color-primary-darkest: #1d6ca1;
  --ifm-color-primary-light: #4ba4df;
  --ifm-color-primary-lighter: #57aae1;
  --ifm-color-primary-lightest: #79bbe7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Sidebar Method labels */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--openapi-code-orange);
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--openapi-code-orange);
}
