:root {
  --openapi-required: var(--ifm-color-danger);
}

.apiItemContainer article > *:first-child,
.apiItemContainer header + * {
  margin-top: 0;
}

/* default markdown margins look really silly in a table */
:global(.theme-api-markdown table *:last-child) {
  margin-bottom: 0;
}

:global(.theme-api-markdown details) {
  margin: unset;
  max-width: 600px;
  background-color: transparent;
  color: var(--ifm-font-color-base);
  padding: unset;
  border: unset !important;
  box-shadow: unset !important;
  --docusaurus-details-decoration-color: var(--ifm-font-color-base);
}

:global(.theme-api-markdown details > div > div) {
  padding-top: unset !important;
  border-top: unset !important;
}

:global(.theme-api-markdown code) {
  max-width: 600px;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }

  /* Prevent hydration FOUC, as the mobile TOC needs to be server-rendered */
  .tocMobile {
    display: none;
  }
}

:global(.theme-api-markdown details li) {
  list-style: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

:global(.theme-api-markdown details li:last-child) {
  border-left: none;
}

:global(.theme-api-markdown details p) {
  margin-bottom: 0;
}

:global(.theme-api-markdown li::before) {
  position: absolute;
  top: 10px;
  left: 0;
  width: 0.7rem; /* width of horizontal line */
  height: 0.5rem; /* vertical position of line */
  vertical-align: top;
  border-bottom: thin solid var(--ifm-color-gray-500);
  content: "";
  display: inline-block;
}

:global(.theme-api-markdown details ul) {
  padding-left: 0;
  /* font-family: "Fira Mono", monospace; */
  font-size: 14px;
}

:global(.schemaItem) {
  list-style: none;
  position: relative;
  margin: 0 !important;
  padding: 5px 0 5px 1rem;
  border-left: thin solid var(--ifm-color-gray-500) !important;
}

:global(.schemaItem:hover) {
  background-color: var(--ifm-menu-color-background-active);
}

:global(.schemaItem:focus) {
  background-color: var(--ifm-menu-color-background-active);
}

:global(.paramsItem:hover) {
  background-color: var(--ifm-menu-color-background-active);
}

:global(.paramsItem:focus) {
  background-color: var(--ifm-menu-color-background-active);
}

:global(.theme-api-markdown div[class^="collapsibleContent"]) {
  margin-top: 0 !important;
  padding-left: 2px;
}
