.apiItemContainer article > *:first-child,
.apiItemContainer header + * {
  margin-top: 0;
}

/* default markdown margins look really silly in a table */
:global(.theme-api-markdown table *:last-child) {
  margin-bottom: 0;
}

:global(.theme-api-markdown details) {
  max-width: 600px;
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  padding: unset;
  border: unset !important;
  box-shadow: unset !important;
  --docusaurus-details-decoration-color: var(--ifm-font-color-base);
}

:global(.theme-api-markdown details > div > div) {
  padding-top: unset !important;
  border-top: unset !important;
}

:global(.theme-api-markdown code) {
  max-width: 600px;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }

  /* Prevent hydration FOUC, as the mobile TOC needs to be server-rendered */
  .tocMobile {
    display: none;
  }
}

@media (max-width: 996px) {
  .apiItemContainer nav {
    display: none;
  }
}
