.optionsPanel:empty {
  display: none;
}

.optionsPanel {
  background: var(--openapi-card-background-color);
  border-radius: var(--openapi-card-border-radius);
  color: var(--ifm-pre-color);
  line-height: var(--ifm-pre-line-height);
  margin-bottom: var(--ifm-spacing-vertical);
  margin-top: 0;
  overflow: auto;
  padding: var(--ifm-pre-padding);

  /* hack for view calculation when monaco is hidden */
  position: relative;
}
