.openpai-demo__form-item-input {
  margin-top: calc(var(--ifm-pre-padding) / 2);
  background-color: var(--openapi-input-background);
  border: none;
  outline: none;
  width: 100%;
  color: var(--ifm-pre-color);
  padding: var(--openapi-demo-padding-input);
  border-radius: 4px;

  &:hover {
    border: 1px solid var(--ifm-toc-border-color);
  }

  &:focus {
    border: 1px solid var(--ifm-color-primary);
    box-shadow: none;
  }
}
