:global(.theme-code-block:hover) .openapi-demo__code-block-expand-btn--copied {
  opacity: 1 !important;
}

.openapi-demo__code-block-expand-btn-icons {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
}

.openapi-demo__code-block-expand-btn-icon,
.openapi-demo__code-block-expand-btn-icon--success {
  position: absolute;
  top: 0;
  left: 0;
  fill: currentColor;
  opacity: inherit;
  width: inherit;
  height: inherit;
  transition: all 0.15s ease;
}

.openapi-demo__code-block-expand-btn-icon--success {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.33);
  opacity: 0;
  color: #00d600;
}

.openapi-demo__code-block-expand-btn--copied
  .openapi-demo__code-block-expand-btn-icon {
  transform: scale(0.33);
  opacity: 0;
}

.openapi-demo__code-block-expand-btn--copied
  .openapi-demo__code-block-expand-btn-icon--success {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-delay: 0.075s;
}
