:root {
  --api-sidebar-width: 300px;
  --api-sidebar-hidden-width: 30px;

  --openapi-code-dim: #aaaaaa;

  --openapi-code-red: #f44336;
  /* orange looks bad on white background */
  --openapi-code-orange: var(--ifm-code-color);
  --openapi-code-green: #388e3c;
  --openapi-code-blue: #1976d2;
  --openapi-code-purple: #ab47bc;

  --openapi-required: var(--openapi-code-red);

  --openapi-card-background-color: #f6f8fa;
  --openapi-card-border-radius: var(--ifm-pre-border-radius);
  /* --openapi-card-border-radius: var(--ifm-card-border-radius); */

  --openapi-input-background: var(--ifm-code-background);
  --openapi-input-border: var(--ifm-color-primary);
  --openapi-button-dissabled: #c6c6c6;

  --openapi-monaco-background-color: #ffffff;
  --openapi-monaco-border-color: #dadde1;

  --openapi-dropzone-color: rgba(0, 0, 0, 0.5);
  --openapi-dropzone-hover-shim: rgba(235, 237, 240, 0.8);

  --openapi-inverse-color: var(--ifm-color-gray-100);
}

html[data-theme="dark"] {
  --openapi-code-dim: #7f7f7f;
  --openapi-code-red: #fc929e;
  --openapi-code-orange: #f8b886;
  --openapi-code-green: #85d996;
  --openapi-code-blue: #a4cdfe;
  --openapi-code-purple: #d9a0f9;
  --openapi-required: var(--openapi-code-red);

  --openapi-card-background-color: var(--ifm-card-background-color);

  --openapi-input-background: #393939;
  --openapi-input-border: white;
  --openapi-button-dissabled: #525252;

  --openapi-monaco-background-color: #18191a;
  --openapi-monaco-border-color: #606770;

  --openapi-dropzone-color: rgba(255, 255, 255, 0.3);
  --openapi-dropzone-hover-shim: rgba(57, 57, 57, 0.8);

  --openapi-inverse-color: var(--ifm-color-gray-900);
}

:global(.api-wrapper) {
  display: flex;
}

.apiPage,
.apiMainContainer {
  display: flex;
  width: 100%;
}

.apiSidebarContainer {
  display: none;
}

@media (min-width: 997px) {
  .apiMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--api-sidebar-width));
  }

  .apiMainContainerEnhanced {
    max-width: calc(100% - var(--api-sidebar-hidden-width));
  }

  .apiSidebarContainer {
    display: block;
    width: var(--api-sidebar-width);
    margin-top: calc(-1 * var(--ifm-navbar-height));
    border-right: 1px solid var(--ifm-toc-border-color);
    will-change: width;
    transition: width var(--ifm-transition-fast) ease;
    clip-path: inset(0);
  }

  .apiSidebarContainerHidden {
    width: var(--api-sidebar-hidden-width);
    cursor: pointer;
  }

  .collapsedApiSidebar {
    position: sticky;
    top: 0;
    height: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--ifm-transition-fast) ease;
  }

  .collapsedApiSidebar:hover,
  .collapsedApiSidebar:focus {
    background-color: var(--ifm-color-emphasis-200);
  }

  .expandSidebarButtonIcon {
    transform: rotate(0);
  }
  html[dir="rtl"] .expandSidebarButtonIcon {
    transform: rotate(180deg);
  }

  html[data-theme="dark"] .collapsedApiSidebar:hover,
  html[data-theme="dark"] .collapsedApiSidebar:focus {
    background-color: var(--collapse-button-bg-color-dark);
  }

  .apiItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--api-sidebar-width)
    ) !important;
  }
}

:global(.menu__list-item--deprecated > *:not(.menu__link--active)) {
  opacity: 0.3;
  text-decoration: line-through;
}

/* Make disabled buttons way less bright */
:global(.button.disabled),
:global(.button:disabled),
:global(.button[disabled]) {
  opacity: 0.35;
}
