.paramsItem {
  margin: 0 0 0 1rem !important;
  position: relative;
  padding-left: 1rem;
  border-left: thin solid var(--ifm-color-gray-500) !important;
  margin-top: unset !important;
}

.paramsItem:hover {
  background-color: var(--ifm-menu-color-background-active);
}

.paramsItem:focus {
  background-color: var(--ifm-menu-color-background-active);
}

.schemaName {
  opacity: 0.6;
}

.paramsRequired {
  font-size: var(--ifm-code-font-size);
  color: var(--openapi-required);
}
