.openapi-demo__options-panel {
  background: var(--openapi-card-background-color);
  border-radius: var(--openapi-card-border-radius);
  box-shadow: 0 2px 3px hsla(222, 8%, 43%, 0.1),
    0 8px 16px -10px hsla(222, 8%, 43%, 0.2);
  color: var(--ifm-pre-color);
  line-height: var(--ifm-pre-line-height);
  margin-bottom: var(--ifm-spacing-vertical);
  margin-top: 0;
  overflow: auto;
  padding: var(--ifm-pre-padding);
  transition: 300ms;

  /* hack for view calculation when monaco is hidden */
  position: relative;

  &:empty {
    display: none;
  }

  &:hover {
    box-shadow: 0 0 0 2px rgba(38, 53, 61, 0.15),
      0 2px 3px hsla(222, 8%, 43%, 0.15),
      0 16px 16px -10px hsla(222, 8%, 43%, 0.2);
  }

  .required {
    font-size: var(--ifm-code-font-size);
    color: var(--openapi-required);
  }
}

.openapi-demo__details-summary {
  padding: 0.35rem 0;
  font-size: 14px;
}
