.openapi-demo__form-item {
  &:first-child {
    margin-top: 0;
  }

  .required {
    font-size: var(--ifm-code-font-size);
    color: var(--openapi-required);
  }
}

.openapi-demo__form-item-label {
  font-family: var(--ifm-font-family-monospace);
  font-size: 12px;
  font-weight: bold;
}
