.openapi-demo__form-item {
  padding: var(--openapi-demo-padding-input);
  font-size: var(--openapi-demo-font-size-input);

  &:first-child {
    margin-top: 0;
  }

  .required {
    color: var(--openapi-required);
  }
}

.openapi-demo__form-item-label {
  font-family: var(--ifm-font-family-monospace);
  font-weight: bold;
}
