:root {
  --bash-background-color: transparent;
  --bash-border-radius: none;
  --code-tab-logo-width: 24px;
  --code-tab-logo-height: 24px;
}

[data-theme="dark"] {
  --bash-background-color: lightgrey;
  --bash-border-radius: 20px;
}

.openapi-tabs__code-list-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.6rem;
}

.openapi-tabs__code-content {
  margin-top: unset !important;
}

.openapi-demo__code-block code {
  max-height: 250px;
}

.openapi-tabs__code-item {
  margin-top: 0 !important;
  margin-right: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;

  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.openapi-tabs__code-item--python {
  color: var(--ifm-color-success);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-success);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--go {
  color: var(--ifm-color-info);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original-wordmark.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-info);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--javascript {
  color: var(--ifm-color-warning);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-warning);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--bash {
  color: var(--ifm-color-danger);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/bash/bash-plain.svg");
    margin-block: auto;
    background-color: var(--bash-background-color);
    border-radius: var(--bash-border-radius);
  }

  &.active {
    border-bottom-color: var(--ifm-color-danger);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--ruby {
  color: var(--ifm-color-danger);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-plain.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-danger);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--csharp {
  color: var(--ifm-color-gray-500);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-gray-500);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--nodejs {
  color: var(--ifm-color-success);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-success);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--php {
  color: var(--ifm-color-gray-500);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-gray-500);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--java {
  color: var(--ifm-color-warning);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-warning);
    background-color: var(--ifm-color-emphasis-100);
  }
}

.openapi-tabs__code-item--powershell {
  color: var(--ifm-color-info);

  &::after {
    content: "";
    width: var(--code-tab-logo-width);
    height: var(--code-tab-logo-height);
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/windows8/windows8-original.svg");
    margin-block: auto;
  }

  &.active {
    border-bottom-color: var(--ifm-color-success);
    background-color: var(--ifm-color-emphasis-100);
  }
}

@media only screen and (min-width: 768px) and (max-width: 996px) {
  .openapi-tabs__code-list {
    justify-content: space-around;
  }
}

.ReactModal__Body--open {
  overflow: hidden !important;
}

.openapi-modal--open {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
