.tabList {
  margin-bottom: var(--ifm-leading);
}

.tabItem {
  margin-top: 0 !important;
}

.code__tabs {
  display: table-row-group;
}

@media only screen and (min-width: 768px) and (max-width: 996px) {
  .code__tabs {
    justify-content: space-around;
  }
}
