:root {
  /* VS Dark mode */
  --openapi-monaco-background-color-dark: var(--ifm-color-gray-900);
  --openapi-code-bright-dark: var(--ifm-color-secondary-lighter);
  --openapi-code-dim-dark: var(--ifm-color-secondary-dark);
  --openapi-code-blue-dark: var(--ifm-color-primary);
  --openapi-code-green-dark: var(--ifm-color-success);
  --openapi-code-select-dark: var(--ifm-color-secondary-lightest);

  /* VS Light mode */
  --openapi-monaco-background-color-light: var(--ifm-color-gray-100);
  --openapi-code-bright-light: var(--ifm-color-black);
  --openapi-code-dim-light: var(--ifm-color-black);
  --openapi-code-blue-light: var(--ifm-color-primary);
  --openapi-code-green-light: var(--ifm-color-success);
  --openapi-code-select-light: var(--ifm-color-secondary-light);

  --openapi-card-background-color: var(--ifm-color-gray-100);
  --openapi-card-border-radius: var(--ifm-pre-border-radius);
  --openapi-monaco-border-color: var(--openapi-card-background-color);
  --openapi-input-border: var(--ifm-color-primary);
}

[data-theme="dark"] {
  --openapi-card-background-color: var(--ifm-color-gray-900) !important;
}

.optionsPanel:empty {
  display: none;
}

.optionsPanel {
  background: var(--openapi-card-background-color);
  border-radius: var(--openapi-card-border-radius);
  color: var(--ifm-pre-color);
  line-height: var(--ifm-pre-line-height);
  margin-bottom: var(--ifm-spacing-vertical);
  margin-top: 0;
  overflow: auto;
  padding: var(--ifm-pre-padding);

  /* hack for view calculation when monaco is hidden */
  position: relative;
}
