.docTitle {
  font-size: 3rem;
  margin-bottom: calc(var(--ifm-leading-desktop) * var(--ifm-leading));
}

.docItemContainer {
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* default markdown margins look really silly in a table */
.markdown :global(.table-markdown) > * {
  margin-bottom: 0;
}

.markdown :global(.admonition) :global(.admonition-heading):last-child h5 {
  margin-bottom: 0;
}

@media only screen and (max-width: 996px) {
  .docItemContainer {
    padding: 0 0.3rem;
  }
}
